/* ============================================ */
/* Padding, Margin */
.Pd10 {
    padding: 10px;
}
.PdR5 {
    padding-right: 5px;
}
.Mg10 {
    margin: 10px;
}
.MgL5 {
    margin-left: 5px;
}
.MgL10 {
    margin-left: 10px;
}
/* ============================================ */
/* Div */
.ColumnDiv {
    display: flex;
}
/* ============================================ */
/* Gird */
.Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
/* ============================================ */
/* テーブル */
.tdCenter {
    text-align: center;
}
/* ============================================ */
/* エクセル */
/* 以下は画面サイズが1024px以上になったら適応されます */
.ExcelHtmlDisplay {
    border: solid;
    /* width: 800px;  */
    max-width: 900px;
    height: 800px;

    display: block;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.ExcelHtmlDisplay > tr.Tr0 > td {
    border: thick double #32a1ce;
}

.ExcelHtmlDisplay > tr > td.TdNo {
    border: thick double #32a1ce;
}

.ExcelHtmlDisplay > tr > td {
    border: 0.5px dotted;
}
/* ============================================ */
/* 縦横比 */
.Wid100 {
    width: 100%;
}
.Wid50 {
    width: 50%;
}
.Wid30 {
    width: 30%;
}
.Wid20 {
    width: 20%;
}

.Wid700px {
    min-width: 700px;
}

/* ============================================ */
/* 色 */
.ActiveButton {
    /* background-color: aqua; */
    background: aqua;
}
.HeadStyle {
    background: #ffff80;
}
.RangeStyle {
    background: #b3ffff;
}
/* tr#0 {
    border: thick double #32a1ce;
} */